* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
    /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -100px;
    /* negative value of footer height */
    height: 100px;
    clear: both;
    background-color: #47704b;
}

.partidos {
    cursor: pointer;
    border-radius: 50%;
    width: 20%;
}