<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #imagenFooter {
            padding-left: 25px;
            width: 90px;
        }
        
        #disclaimer {
            padding-left: 25px;
            height: 10px;
        }
        
        #redes {
            display: inline-block;
            position: absolute;
            right: 100px;
            top: 20px;
        }
        
        .redes {
            padding-left: 10px;
            color: white;
        }
    </style>
</head>

<body>

    <div style="display: inline-block;">
        <div style="display: inline-block;">
            <img id="imagenFooter" src="img\footerEscudo.png">
            <p id="disclaimer">©2021 - MiMéxico</p>
        </div>
        <div id="redes">
            <h6>Síguenos en nuestras redes</h6>
            <a href="#" class="fa fa-facebook redes" style="font-size: 35px;"></a>
            <a href="#" class="fa fa-twitter redes" style="font-size: 35px;"></a>
            <a href="#" class="fa fa-instagram redes" style="font-size:35px;"></a>
            <a href="#" class="fa fa-youtube redes" style="font-size: 35px;"></a>
        </div>
    </div>




    <script src="js/lib/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0af9583a5b.js" crossorigin="anonymous"></script>
</body>

</html>